{% extends 'posts/base.html' %}

{% block title %} About {% endblock %}

{% block content %} {{ content | safe }} {% endblock %}

{#{% block content %}#}
{##}
{#    {% for key, value in content.items %}#}
{#        <p>{{ key }}:{{ value }}</p>#}
{#    {% endfor%}#}

{#{% endblock %}#}


{#{% extends 'posts/base.html' %}#}
{##}
{#{% block title %} About {% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    {% load humanize %}#}
{##}
{##}
{#            <h1>{{ number | intword }}</h1>#}
{#    <h1>{{ date | naturaltime }}</h1>#}
{#            {{ content | safe }}#}
{##}
{##}
{#{% endblock %}#}